environment:
 P: "c:/projects/lamppost"

branches:
 only:
  - master

os: Visual Studio 2015

clone_folder: '%P%'

platform: x64

configuration: Release

install:
 - ps: choco install make

build:
 project: '%P%\build\lamppost.sln'

before_build:
 - cd %P%
 - git submodule update --init --recursive
 - mkdir build
 - cd build
 - cmake -G "Visual Studio 14 2015 Win64" ..
 - make test