environment:
  APPVEYOR_YML_DISABLE_PS_LINUX: true

image:
 - Visual Studio 2015
 - Ubuntu

platform: x64

configuration: Release

install:
 - ps: choco install make

before_build:
 - git submodule update --init --recursive

build_script:
 - mkdir build
 - cd build
 - cmd: cmake -G "Visual Studio 14 2015 Win64" ..
 - cmd: cmake --build .
 - sh: cmake ..
 - sh: make

test_script:
 - cmd: ctest -C Debug -VV
 - sh: make CTEST_OUTPUT_ON_FAILURE=1 test
