[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/flatbuffers"]
	path = 3rdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "3rdparty/libzmq"]
	path = 3rdparty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "3rdparty/json-c"]
	path = 3rdparty/json-c
	url = https://github.com/json-c/json-c.git
