language: cpp

matrix:
  include:
  #
  # Clang Tidy
  #
  - os: linux
    env:
      - TEST="Clang Tidy"
    script:
      - cd ${TRAVIS_BUILD_DIR}
      - mkdir build
      - cd build
      - cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
      - find ../src -name "*.h" -o -name "*.cpp" -print | xargs -I{} clang-tidy -checks=*,-performance-unnecessary-value-param,-cppcoreguidelines-pro-bounds-constant-array-index,-modernize-pass-by-value,-cert-err58-cpp,-modernize-use-auto,-cppcoreguidelines-pro-type-union-access,-cert-err60-cpp -p=./ {} > tidy_output.txt
      - find ../include -name "*.h" -o -name "*.cpp" -print | xargs -I{} clang-tidy -checks=*,-performance-unnecessary-value-param,-cppcoreguidelines-pro-bounds-constant-array-index,-modernize-pass-by-value,-cert-err58-cpp,-modernize-use-auto,-cppcoreguidelines-pro-type-union-access,-cert-err60-cpp -p=./ {} >> tidy_output.txt
      - clang-tidy -checks=*,-performance-unnecessary-value-param,-cppcoreguidelines-pro-bounds-constant-array-index,-modernize-pass-by-value,-cert-err58-cpp,-modernize-use-auto,-cppcoreguidelines-pro-type-union-access,-cert-err60-cpp -p=./ src/main.cpp >> tidy_output.txt
      - cat tidy_output.txt
      - |
        if [[ -n $(grep "warning: " tidy_output.txt) ]] || [[ -n $(grep "error: " tidy_output.txt) ]]; then
            echo "You must pass the clang tidy checks."
            echo ""
            grep --color -E '^|warning: |error: ' tidy_output.txt
            exit -1;
        else
            echo -e "\033[1;32m\xE2\x9C\x93 passed\033[0m";
        fi
  - os: linux
    compiler:
      - gcc
    env:
      - TEST="Coveralls"
    install:
      - cd ${TRAVIS_BUILD_DIR}
      - wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz
      - tar xf lcov_1.11.orig.tar.gz
      - sudo make -C lcov-1.11/ install
      - gem install coveralls-lcov
    before_script:
      - cd ${TRAVIS_BUILD_DIR}
      - lcov --directory . --zerocounters
    after_success:
      - cd ${TRAVIS_BUILD_DIR}
      - lcov --directory . --capture --output-file coverage.info
      - lcov --remove coverage.info 'test/*' '/usr/*' --output-file coverage.info
      - lcov --list coverage.info
      - coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info
  - os: linux
    compiler:
      - clang
  - os: osx
    compiler:
      - gcc
  - os: osx
    compiler:
      - clang

sudo:
 - false

addons:
  apt:
    update: true
    packages:
      - cmake

      # https://github.com/travis-ci-tester/travis-test-clang-cxx-11
      - libstdc++-4.8-dev

      # https://github.com/travis-ci-tester/travis-test-gcc-cxx-11
      - g++-4.8

script:
 - cd ${TRAVIS_BUILD_DIR}
 - mkdir build
 - cd build
 - cmake -DCOVERAGE=1 ..
 - make
 - make test
