language: cpp

os:
 - linux
 - osx

compiler:
 - gcc
 - clang

sudo:
 - false

addons:
  apt:
    update: true
    packages:
      - cmake

      # https://github.com/travis-ci-tester/travis-test-clang-cxx-11
      - libstdc++-4.8-dev

      # https://github.com/travis-ci-tester/travis-test-gcc-cxx-11
      - g++-4.8

install:
 - cd ${TRAVIS_BUILD_DIR}
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then tar xf lcov_1.11.orig.tar.gz ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo make -C lcov-1.11/ install ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then gem install coveralls-lcov ; fi

before_script:
- cd ${TRAVIS_BUILD_DIR}
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then lcov --directory . --zerocounters ; fi

script:
 - cd ${TRAVIS_BUILD_DIR}
 - mkdir build
 - cd build
 - cmake -DCOVERAGE=1 ..
 - make
 - make test

after_success:
 - cd ${TRAVIS_BUILD_DIR}
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then lcov --directory . --capture --output-file coverage.info ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then lcov --remove coverage.info 'test/*' '/usr/*' --output-file coverage.info ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then lcov --list coverage.info ; fi
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then coveralls-lcov --repo-token ${COVERALLS_TOKEN} coverage.info ; fi
