language: cpp

os:
  - linux
  - osx

sudo:
  - false

addons:
  apt:
    packages:
      - cmake

      # https://github.com/travis-ci-tester/travis-test-clang-cxx-11
      - libstdc++-4.8-dev

      # https://github.com/travis-ci-tester/travis-test-gcc-cxx-11
      - g++-4.8

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
